<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <ul>
      <!-- 索引不能重复 -->
      <li v-for="(a,index) in arr" :key="index">{{a}}</li>
    </ul>
    <button @click="flag=!flag">切换</button>
    <div v-if="flag">
      <label for="username">用户名</label>
      <input type="text" id="username" placeholder="请输入用户名" key="1">
    </div>
    <div v-else>
      <label for="password">密码</label>
      <input type="text" id="password" placeholder="请输入密码" key="2">
    </div>
  </div>
  <script src="./node_modules/vue/dist/vue.js"></script>
  <script>
    let vm = new Vue({
      el:'#app',
      data:{
        flag:true,
        arr:['香蕉','苹果','橘子']
      }
    });
    // 我们的数据会被代理到vue的实例上
  </script>
</body>
</html>